
@{
    Layout = null;
}
@model CarpYeni.Models.Score
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Set score settings</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Areas/Admin/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- MetisMenu CSS -->
    <link href="~/Areas/Admin/Content/metisMenu.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Areas/Admin/Content/sb-admin-2.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="~/Areas/Admin/Content/font-awesome.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Reset scores</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("ResetScore", "AdminHome"))
                        {
                            <fieldset>
                                <div class="checkbox">
                                    @if (ViewBag.ResetStatus == "success")
                                    {
                                        <p class="alert alert-success">Successfully reset scores to: 0-0-0-0. You can close this window.</p> @Html.ActionLink("Back to control panel", "Index")
                                    }

                                    @if (ViewBag.ResetStatus == "error")
                                    {
                                        <p class="alert alert-danger">Cannot connect to database.</p>
                                    }

                                    @if (ViewBag.ResetStatus != "success" && ViewBag.ResetStatus != "error")
                                    {
                                        <p class="alert alert-info">Current score: Gold:@Model.Gold Silver:@Model.Silver Copper:@Model.Copper Wood:@Model.Wood</p>
                                    }
                                </div>
                                <div class="form-group">
                                    @Html.Label("This will reset scores to: 0-0-0-0")
                                </div>

                                <input type="submit" class="btn btn-lg btn-danger btn-block" value="Reset scores" />
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/Areas/Admin/Content/Scripts/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Areas/Admin/Content/Scripts/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Areas/Admin/Content/Scripts/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="~/Areas/Admin/Content/Scripts/sb-admin-2.js"></script>

</body>

</html>
